:root {
    /* 用于反白场景 */
    --opacity-white-05: rgba(255, 255, 255, 0.05);
    --opacity-white-10: rgba(255, 255, 255, 0.10);
    --opacity-white-15: rgba(255, 255, 255, 0.15);
    --opacity-white-20: rgba(255, 255, 255, 0.20);
    --opacity-white-25: rgba(255, 255, 255, 0.25);
    --opacity-white-30: rgba(255, 255, 255, 0.30);
    --opacity-white-35: rgba(255, 255, 255, 0.35);
    --opacity-white-40: rgba(255, 255, 255, 0.40);
    --opacity-white-45: rgba(255, 255, 255, 0.45);
    --opacity-white-50: rgba(255, 255, 255, 0.50);
    --opacity-white-55: rgba(255, 255, 255, 0.55);
    --opacity-white-60: rgba(255, 255, 255, 0.60);
    --opacity-white-65: rgba(255, 255, 255, 0.65);
    --opacity-white-70: rgba(255, 255, 255, 0.70);
    --opacity-white-75: rgba(255, 255, 255, 0.75);
    --opacity-white-80: rgba(255, 255, 255, 0.80);
    --opacity-white-85: rgba(255, 255, 255, 0.85);
    --opacity-white-90: rgba(255, 255, 255, 0.90);
    --opacity-white-95: rgba(255, 255, 255, 0.95);
}

:root {
    /* 深色主题 */
    --dark-idegrey-1: #202224;
    --dark-idegrey-2: #252729;
    --dark-idegrey-3: #2c3033;
    --dark-idegrey-4: #35393d;
    --dark-idegrey-5: #43484d;
    --dark-idegrey-6: #5f656b;
    --dark-idegrey-7: #868c91;
    --dark-idegrey-8: #bbc0c4;
    --dark-idegrey-9: #d7dbde;
    --dark-idegrey-10: #ffffff;
    --dark-opacity-idegrey-50: #5f656b80;
    --dark-opacity-idegrey-25: #5f656b40;

    /* 主色色板 */
    --dark-blue-1: #14202c;
    --dark-blue-2: #1b2f44;
    --dark-blue-3: #203e5a;
    --dark-blue-4: #1f507d;
    --dark-blue-5: #1a66ac;
    --dark-blue-6: #167cdb;
    --dark-blue-7: #3895eb;
    --dark-blue-8: #67abeb;
    --dark-blue-9: #88bff3;
    --dark-blue-10: #afd6fa;
    --dark-opacity-blue-25: #167cdb40;

    /* 功能色色板 */
    --dark-opacity-red-25: #d21f2840;
    --dark-opacity-volcano-25: #d7491a40;
    --dark-opacity-orange-25: #d7791540;
    --dark-opacity-gold-25: #d7951340;
    --dark-opacity-green-25: #48a91840;
    --dark-opacity-cyan-25: #12a7a740;
    --dark-opacity-ideblue-25: #167cdb40;
    --dark-opacity-geekblue-25: #2a49ca40;
    --dark-opacity-purple-25: #6329b440;
    --dark-opacity-idegrey-25: #5f656b40;

    /* 错误/失败/停止 */
    --dark-red-1: #321115;
    --dark-red-6: #d21f28;
    --dark-red-7: #db4345;
    --dark-red-8: #f37370;

    --dark-volcano-1: #331710;
    --dark-volcano-6: #d7491a;
    --dark-volcano-7: #db6a3d;
    --dark-volcano-8: #f3956a;

    --dark-orange-1: #332010;
    --dark-orange-6: #d77915;
    --dark-orange-7: #db9238;
    --dark-orange-8: #f3b765;
    /* 警告/提醒/强调 */
    --dark-gold-1: #332510;
    --dark-gold-6: #d79513;
    --dark-gold-7: #dba936;
    --dark-gold-8: #f3cc62;
    /* 成功/完成/开始 */
    --dark-green-1: #172811;
    --dark-green-6: #48a918;
    --dark-green-7: #64b436;
    --dark-green-8: #8fd460;

    --dark-cyan-1: #102627;
    --dark-cyan-6: #12a7a7;
    --dark-cyan-7: #30b2ad;
    --dark-cyan-8: #58d1c9;
    /* 提示/说明/强调 */
    --dark-ideblue-1: #14202c;
    --dark-ideblue-6: #167cdb;
    --dark-ideblue-7: #3895eb;
    --dark-ideblue-8: #67abeb;

    --dark-geekblue-1: #131730;
    --dark-geekblue-6: #2a49ca;
    --dark-geekblue-7: #4e6dd4;
    --dark-geekblue-8: #7f9ef3;

    --dark-purple-1: #1b132b;
    --dark-purple-6: #6329b4;
    --dark-purple-7: #7e49bf;
    --dark-purple-8: #ab7ae0;
    /* 弱说明/弱提示 */
    --dark-idegrey-1: #202224;
    --dark-idegrey-6: #5f656b;
    --dark-idegrey-7: #868c91;
    --dark-idegrey-8: #bbc0c4;
}

:root {
    /* 浅色主题 */
    --light-idegrey-1: #ffffff;
    --light-idegrey-2: #f7f7f7;
    --light-idegrey-3: #f2f2f2;
    --light-idegrey-4: #ececec;
    --light-idegrey-5: #e0e0e0;
    --light-idegrey-6: #cccccc;
    --light-idegrey-7: #999999;
    --light-idegrey-8: #666666;
    --light-idegrey-9: #4d4d4d;
    --light-idegrey-10: #262626;
    --light-opacity-idegrey-50: #cccccc80;
    --light-opacity-idegrey-25: #cccccc40;

    /* 主色色板 */
    --light-blue-1: #e6f3ff;
    --light-blue-2: #cce7ff;
    --light-blue-3: #9dcefc;
    --light-blue-4: #6eb6fa;
    --light-blue-5: #3d9cf5;
    --light-blue-6: #1785eb;
    --light-blue-7: #0d75d6;
    --light-blue-8: #0760b3;
    --light-blue-9: #064d8f;
    --light-blue-10: #023666;
    --light-opacity-blue-25: #67abeb40;

   /* 功能色色板 */
   --light-opacity-red-25: #ff787540;
   --light-opacity-volcano-25: #ff9c6e40;
   --light-opacity-orange-25: #ffc06940;
   --light-opacity-gold-25: #ffd66640;
   --light-opacity-green-25: #95de6440;
   --light-opacity-cyan-25: #5cdbd340;
   --light-opacity-ideblue-25: #6eb6fa40;
   --light-opacity-geekblue-25: #85a5ff40;
   --light-opacity-purple-25: #b37feb40;
   --light-opacity-idegrey-25: #cccccc40;

   /* 错误/失败/停止 */
   --light-red-1: #fff1f0;
   --light-red-6: #ff7875;
   --light-red-7: #ff4d4f;
   --light-red-8: #f5222d;

   --light-volcano-1: #fff2e8;
   --light-volcano-6: #ff9c6e;
   --light-volcano-7: #ff7a45;
   --light-volcano-8: #fa541c;

   --light-orange-1: #fff7e6;
   --light-orange-6: #ffc069;
   --light-orange-7: #ffa940;
   --light-orange-8: #fa8c16;
   /* 警告/提醒/强调 */
   --light-gold-1: #fffbe6;
   --light-gold-6: #ffd666;
   --light-gold-7: #ffc53d;
   --light-gold-8: #faad14;
   /* 成功/完成/开始 */
   --light-green-1: #f6ffed;
   --light-green-6: #95de64;
   --light-green-7: #73d13d;
   --light-green-8: #52c41a;

   --light-cyan-1: #e6fffb;
   --light-cyan-6: #5cdbd3;
   --light-cyan-7: #36cfc9;
   --light-cyan-8: #13c2c2;
   /* 提示/说明/强调 */
   --light-ideblue-1: #e6f3ff;
   --light-ideblue-6: #6eb6fa;
   --light-ideblue-7: #3d9cf5;
   --light-ideblue-8: #1785eb;

   --light-geekblue-1: #f0f5ff;
   --light-geekblue-6: #85a5ff;
   --light-geekblue-7: #597ef7;
   --light-geekblue-8: #2f54eb;

   --light-purple-1: #f9f0ff;
   --light-purple-6: #b37feb;
   --light-purple-7: #9254de;
   --light-purple-8: #722ed1;
   /* 弱说明/弱提示 */
   --light-idegrey-2: #f7f7f7;
   --light-idegrey-6: #cccccc;
   --light-idegrey-7: #999999;
   --light-idegrey-8: #666666;
}

.dark {
    --idegrey-1:  var(--dark-idegrey-1);
    --idegrey-2:  var(--dark-idegrey-2);
    --idegrey-3:  var(--dark-idegrey-3);
    --idegrey-4:  var(--dark-idegrey-4);
    --idegrey-5:  var(--dark-idegrey-5);
    --idegrey-6:  var(--dark-idegrey-6);
    --idegrey-7:  var(--dark-idegrey-7);
    --idegrey-8:  var(--dark-idegrey-8);
    --idegrey-9:  var(--dark-idegrey-9);
    --idegrey-10: var(--dark-idegrey-10);
    --opacity-idegrey-25: var(--dark-opacity-idegrey-25);
    --opacity-idegrey-50: var(--dark-opacity-idegrey-50);

    --blue-1:  var(--dark-blue-1);
    --blue-2:  var(--dark-blue-2);
    --blue-3:  var(--dark-blue-3);
    --blue-4:  var(--dark-blue-4);
    --blue-5:  var(--dark-blue-5);
    --blue-6:  var(--dark-blue-6);
    --blue-7:  var(--dark-blue-7);
    --blue-8:  var(--dark-blue-8);
    --blue-9:  var(--dark-blue-9);
    --blue-10: var(--dark-blue-10);
    --opacity-blue-25: var(--dark-opacity-blue-25);

    /* 错误/失败/停止 */
    --red-1:  var(--dark-red-1);
    --red-6:  var(--dark-red-6);
    --red-7:  var(--dark-red-7);
    --red-8:  var(--dark-red-8);
    --opacity-red-25: var(--dark-opacity-red-25);

    --volcano-1:  var(--dark-volcano-1);
    --volcano-6:  var(--dark-volcano-6);
    --volcano-7:  var(--dark-volcano-7);
    --volcano-8:  var(--dark-volcano-8);
    --opacity-volcano-25: var(--dark-opacity-volcano-25);

    --orange-1:  var(--dark-orange-1);
    --orange-6:  var(--dark-orange-6);
    --orange-7:  var(--dark-orange-7);
    --orange-8:  var(--dark-orange-8);
    --opacity-orange-25: var(--dark-opacity-orange-25);
    /* 警告/提醒/强调 */
    --gold-1:  var(--dark-gold-1);
    --gold-6:  var(--dark-gold-6);
    --gold-7:  var(--dark-gold-7);
    --gold-8:  var(--dark-gold-8);
    --opacity-gold-25: var(--dark-opacity-gold-25);
    /* 成功/完成/开始 */
    --green-1:  var(--dark-green-1);
    --green-6:  var(--dark-green-6);
    --green-7:  var(--dark-green-7);
    --green-8:  var(--dark-green-8);
    --opacity-green-25: var(--dark-opacity-green-25);

    --cyan-1:  var(--dark-cyan-1);
    --cyan-6:  var(--dark-cyan-6);
    --cyan-7:  var(--dark-cyan-7);
    --cyan-8:  var(--dark-cyan-8);
    --opacity-cyan-25: var(--dark-opacity-cyan-25);
    /* 提示/说明/强调 */
    --ideblue-1:  var(--dark-ideblue-1);
    --ideblue-6:  var(--dark-ideblue-6);
    --ideblue-7:  var(--dark-ideblue-7);
    --ideblue-8:  var(--dark-ideblue-8);
    --opacity-ideblue-25: var(--dark-opacity-ideblue-25);

    --geekblue-1:  var(--dark-geekblue-1);
    --geekblue-6:  var(--dark-geekblue-6);
    --geekblue-7:  var(--dark-geekblue-7);
    --geekblue-8:  var(--dark-geekblue-8);
    --opacity-geekblue-25: var(--dark-opacity-geekblue-25);

    --purple-1:  var(--dark-purple-1);
    --purple-6:  var(--dark-purple-6);
    --purple-7:  var(--dark-purple-7);
    --purple-8:  var(--dark-purple-8);
    --opacity-purple-25: var(--dark-opacity-purple-25);
}

.light {
    --idegrey-1:  var(--light-idegrey-1);
    --idegrey-2:  var(--light-idegrey-2);
    --idegrey-3:  var(--light-idegrey-3);
    --idegrey-4:  var(--light-idegrey-4);
    --idegrey-5:  var(--light-idegrey-5);
    --idegrey-6:  var(--light-idegrey-6);
    --idegrey-7:  var(--light-idegrey-7);
    --idegrey-8:  var(--light-idegrey-8);
    --idegrey-9:  var(--light-idegrey-9);
    --idegrey-10: var(--light-idegrey-10);
    --opacity-idegrey-25: var(--light-opacity-idegrey-25);
    --opacity-idegrey-50: var(--light-opacity-idegrey-50);

    --blue-1:  var(--light-blue-1);
    --blue-2:  var(--light-blue-2);
    --blue-3:  var(--light-blue-3);
    --blue-4:  var(--light-blue-4);
    --blue-5:  var(--light-blue-5);
    --blue-6:  var(--light-blue-6);
    --blue-7:  var(--light-blue-7);
    --blue-8:  var(--light-blue-8);
    --blue-9:  var(--light-blue-9);
    --blue-10: var(--light-blue-10);
    --opacity-blue-25: var(--light-opacity-blue-25);

    /* 错误/失败/停止 */
    --red-1:  var(--light-red-1);
    --red-6:  var(--light-red-6);
    --red-7:  var(--light-red-7);
    --red-8:  var(--light-red-8);
    --opacity-red-25: var(--light-opacity-red-25);

    --volcano-1:  var(--light-volcano-1);
    --volcano-6:  var(--light-volcano-6);
    --volcano-7:  var(--light-volcano-7);
    --volcano-8:  var(--light-volcano-8);
    --opacity-volcano-25: var(--light-opacity-volcano-25);

    --orange-1:  var(--light-orange-1);
    --orange-6:  var(--light-orange-6);
    --orange-7:  var(--light-orange-7);
    --orange-8:  var(--light-orange-8);
    --opacity-orange-25: var(--light-opacity-orange-25);

    --gold-1:  var(--light-gold-1);
    --gold-6:  var(--light-gold-6);
    --gold-7:  var(--light-gold-7);
    --gold-8:  var(--light-gold-8);
    --opacity-gold-25: var(--light-opacity-gold-25);

    --green-1:  var(--light-green-1);
    --green-6:  var(--light-green-6);
    --green-7:  var(--light-green-7);
    --green-8:  var(--light-green-8);
    --opacity-green-25: var(--light-opacity-green-25);

    --cyan-1:  var(--light-cyan-1);
    --cyan-6:  var(--light-cyan-6);
    --cyan-7:  var(--light-cyan-7);
    --cyan-8:  var(--light-cyan-8);
    --opacity-cyan-25: var(--light-opacity-cyan-25);

    --ideblue-1:  var(--light-ideblue-1);
    --ideblue-6:  var(--light-ideblue-6);
    --ideblue-7:  var(--light-ideblue-7);
    --ideblue-8:  var(--light-ideblue-8);
    --opacity-ideblue-25: var(--light-opacity-ideblue-25);

    --geekblue-1:  var(--light-geekblue-1);
    --geekblue-6:  var(--light-geekblue-6);
    --geekblue-7:  var(--light-geekblue-7);
    --geekblue-8:  var(--light-geekblue-8);
    --opacity-geekblue-25: var(--light-opacity-geekblue-25);

    --purple-1:  var(--light-purple-1);
    --purple-6:  var(--light-purple-6);
    --purple-7:  var(--light-purple-7);
    --purple-8:  var(--light-purple-8);
    --opacity-purple-25: var(--light-opacity-purple-25);
}
