@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang ExtraLight.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Bold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "PF";
    src: url("/assets/fonts/PingFang Heavy.ttf");
    font-weight: 700;
}
